footer.m_footer(itemscope itemtype="http://schema.org/Organization")
  .wrapper
    .info
      .copyright © <span itemprop="name">ООО «КЗГО»</span>, 2017
      .address(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress") <span itemprop="postalCode">652700</span>, Кемеровская область, <span itemprop="addressLocality">г. Киселевск</span>, <span itemprop="streetAddress">ул. Проектная, д. 1</span>
      .phones
        .title Телефон:
        div: a(href="tel:+73843204670" itemprop="telephone") +7 (3843) 20-46-70
        div: a(href="tel:+73842204604" itemprop="telephone") +7 (3843) 20-46-04 <span>(ком. отдел)</span>
      .email
        .title Email:
        a(href="#") manager@kzgo42.ru
      .socials
        .title Мы в соц. сетях:
        a(class="vk" href="#")
        a(class="fb" href="#")
        a(class="ok" href="#")
        a(class="yt" href="#")
      .developed Разработка сайта <a href="#">«Пикмедиа»</a>
    .nav
      .column
        .menu
          .title: a(href="#") Компания
          ul
            li: a(href="#") О компании
            li: a(href="#") Руководство
            li: a(href="#") Новости
            li: a(href="#") Разрешительная документация
            li: a(href="#") Сертификаты
        .menu
          .title: a(href="#") Производство
          ul
            li: a(href="#") Применяемые технологии
            li: a(href="#") Основное производство
            li: a(href="#") Механосборочное производство
            li: a(href="#") Сварочное производство
      .column
        .menu
          .title: a(href="#") продукция
          .row
            ul
              li: a(href="#") Комплексы перестановки вагонеток
              li: a(href="#") Устройства загрузочные для скипов
              li: a(href="#") Толкатели шахтовые пневматические
              li: a(href="#") Трёхроликовые направляющие типа НО
              li: a(href="#") Комплексы перестановки вагонеток
              li: a(href="#") Устройства загрузочные для скипов
            ul
              li: a(href="#") Толкатели шахтовые пневматические
              li: a(href="#") Трёхроликовые направляющие типа НО
              li: a(href="#") Комплексы перестановки вагонеток
              li: a(href="#") Устройства загрузочные для скипов
              li: a(href="#") Толкатели шахтовые пневматические
              li: a(href="#") Трёхроликовые направляющие типа НО


