// Sprite size
$sprite = 500px 700px

// Colors
$text = #333
$red = #f3322b
$button = #af0d07
$button-hover = #f3322b
$radius = 3px

// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
