-
  var lead_carousel  = [
    {
      image: 'images/content/carousel/1.jpg',
      title: 'Наше производство',
      desc: 'В заводских цехах установлено самое современное оборудование, которое может оперативно перенастраиваться для выполнения заказов разных объемов и профилей. В настоящее время продукция широко используется в реальном секторе экономики и полностью покрывает потребности горнодобывающей промышленности'
    },
    {
      image: 'images/content/carousel/2.jpg',
      title: 'What is Lorem Ipsum?',
      desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book'
    },
    {
      image: 'images/content/carousel/3.jpg',
      title: 'Произвольный заловок',
      desc: 'The industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. '
    }
  ]

-
  var pluses = [
    {desc: 'Высочайшее качество продукции'},
    {desc: 'Индивидуальный подход к проектированию оборудования'},
    {desc: '100% выполнение сроков поставки'},
    {desc: 'Вся продукция соответствует нормам и правилам промышленной безопасности'},
    {desc: 'Современный парк оборудования'},
    {desc: 'Гибкая ценовая политика'}
  ]
-
  var newsCarousel = [
    {
      image: 'images/content/news/1.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/2.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/3.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/4.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/1.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/2.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/3.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/4.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/1.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/2.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/3.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/4.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    }
  ]

-
  var news_items = [
    {
      image: 'images/content/news/1.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/2.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/3.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/4.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/1.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/2.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/3.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/4.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    },
    {
      image: 'images/content/news/1.png',
      date: '02 июня 2017',
      title: '«Разрез «Инской» начал добычу угля через полтора года после простоя'
    }
  ]