extends ../modules/layout/layout.jade

block TITLE
  title Компания

block PG_URL
  - var MOBILE = 'pg/home_480.jpg';
  - var TABLET = 'pg/home_960.jpg';
  - var DESKTOP = 'pg/home_1200.jpg';

block DATABASE
  include ../static/content/_home.jade

block CONTENT
  .content
    .m_breadcrumbs
      .wrapper
        ul
          li: a(href="#") Главная
          li: span Компания
    .page-title: h2 Компания
    .wrapper
      main
        article
          img(src="images/content/article.png" alt="")
          p.lead Горно-шахтное оборудование, изготовленное ООО «Киселевский завод горного оборудования», может успешно конкурировать с лучшими зарубежными аналогами. Это оборудование широко применяется на самых эффективных и современных шахтах и рудниках.
          p Горно-шахтное оборудование, изготовленное ООО «Киселевский завод горного оборудования», может успешно конкурировать с лучшими зарубежными аналогами. Это оборудование широко применяется на самых эффективных и современных шахтах и рудниках.
          p С некоторых пор важнейшими факторами для предприятий современной горнодобывающей промышленности стали повышение производительности труда и одновременное снижение аварийности всех видов работ. Для реализации этого стратегического положения требуется максимально высокий уровень автоматизации оборудования и всех производственных процессов.
          p С некоторых пор важнейшими факторами для предприятий современной горнодобывающей промышленности стали повышение производительности труда и одновременное снижение аварийности всех видов работ. Для реализации этого стратегического положения требуется максимально высокий уровень автоматизации оборудования и всех производственных процессов.
          p Специалисты нашей компании всегда готовы предоставить подробные консультации по подбору и эксплуатации оборудования, необходимую техническую поддержку.
          p Всё грузоподъемное горно-шахтное оборудование соответствует стандартам «Правилам безопасного производства в шахтах». И делает шахты и рудники, на которых оно используется, в высшей степени эффективными.
      aside
        .m_aside-menu
          ul
            li: a(class="current" href="#") О компании
            li: a(href="#") Руководство
            li: a(href="#") Новости
            li: a(href="#") Разрешительная документация
            li: a(href="#") Сертификаты
        .m_aside-help
          .text Вы можете получить бесплатную консультацию по интересующему Вас вопросу
          .info
            .action: a(class="popup-button" href="#popup-question") Задать вопрос
            .phone
              span или связаться с нами по телефону:
              a(href="tel:+73843204670") +7 (3843) 20-46-70
  .m_lead-pluses
    .wrapper
      .section-title
        h2.left.small Почему выбирают нас
      .list
        - each post in pluses
          .item
            .icon
            .desc #{post.desc}
  .m_geographic-map
    .wrapper
      .section-title
        h2.left.small География поставки продукции
      script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
      script.
        var mapIcons = { iconLayout: 'default#image', iconImageHref: 'images/marker.png', iconImageSize: [91, 99], iconImageOffset: [-45, -72], balloonPanelMaxMapArea: 0 };
        var SPB = [60.209154, 63.570416];

        ymaps.ready(init);

        function init () {
            var myMap = new ymaps.Map("mapObjects", {
                    center: SPB,
                    zoom: 4,
                    controls: ['zoomControl']
                }, {
                    searchControlProvider: 'yandex#search'
                }),
                myPlacemark = new ymaps.Placemark([61.242179, 84.488385], {
                    hintContent: "Хинт метки"
                },mapIcons);
                myPlacemark2 = new ymaps.Placemark([60.209154, 63.570416], {
                    hintContent: "Хинт метки"
                },mapIcons);
                myPlacemark3 = new ymaps.Placemark([58.412182, 43.355572], {
                    hintContent: "Хинт метки"
                },mapIcons);
            myMap.behaviors.disable('scrollZoom');
            myMap.geoObjects.add(myPlacemark);
            myMap.geoObjects.add(myPlacemark2);
            myMap.geoObjects.add(myPlacemark3);
        }
      #mapObjects
      article
        p Горно-шахтное оборудование, изготовленное ООО «Киселевский завод горного оборудования», может успешно конкурировать с лучшими зарубежными аналогами. Это оборудование широко применяется на самых эффективных и современных шахтах и рудниках.
        p С некоторых пор важнейшими факторами для предприятий современной горнодобывающей промышленности стали повышение производительности труда и одновременное снижение аварийности всех видов работ. Для реализации этого стратегического положения требуется максимально высокий уровень автоматизации оборудования и всех производственных процессов.
        p С некоторых пор важнейшими факторами для предприятий современной горнодобывающей промышленности стали повышение производительности труда и одновременное снижение аварийности всех видов работ. Для реализации этого стратегического положения требуется максимально высокий уровень автоматизации оборудования и всех производственных процессов.
        p Специалисты нашей компании всегда готовы предоставить подробные консультации по подбору и эксплуатации оборудования, необходимую техническую поддержку.
        p Всё грузоподъемное горно-шахтное оборудование соответствует стандартам «Правилам безопасного производства в шахтах». И делает шахты и рудники, на которых оно используется, в высшей степени эффективными.
  .m_page-nav
    .wrapper
      .columns
        .column
          a(href="#").image
            img(class="small" src="images/page-nav-small-1.png" alt="")
            img(class="large" src="images/page-nav-large-1.png" alt="")
          .title: a(href="#") Руководство
        .column
          a(href="#").image
            img(class="small" src="images/page-nav-small-2.png" alt="")
            img(class="large" src="images/page-nav-large-2.png" alt="")
          .title: a(href="#") Разрешительная документация
        .column
          a(href="#").image
            img(class="small" src="images/page-nav-small-3.png" alt="")
            img(class="large" src="images/page-nav-large-3.png" alt="")
          .title: a(href="#") Сертификаты
