extends ../modules/layout/layout.jade

block TITLE
  title Продукция

block PG_URL
  - var MOBILE = 'pg/home_480.jpg';
  - var TABLET = 'pg/home_960.jpg';
  - var DESKTOP = 'pg/home_1200.jpg';

block DATABASE
  include ../static/content/_home.jade

block CONTENT
  .content
    .m_breadcrumbs
      .wrapper
        ul
          li: a(href="#") Главная
          li: span Продукция
    .page-title: h2 Продукция
    .wrapper
      .m_products-full-list
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/1.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/2.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/3.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/4.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/5.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/6.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/3.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/4.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/1.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/2.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/6.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .item
          a(href="#")
            .image(style="background-image: url('images/content/products/5.jpg')")
            .details
              .title: span Комплексы перестановки вагонеток
              .desc Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.