.m_products-list
  gutter()
  .column
    clearfix()
    float left
    width 50%
    padding-right 5px
    margin-top 10px
    @media SM
      height 300px
      width 33.333%
      padding-right 13.333px !important
      margin-top 20px
    @media LG
      padding-right 20px !important
      height 380px
      margin-top 30px
    & + .column
      padding-left 5px
      @media SM
        padding-left 6.666px !important
        padding-right 6.666px !important
      @media LG
        padding-left 10px !important
        padding-right 10px !important
    &:last-child
      @media SM
        padding-right 0 !important
        padding-left 13.333px !important
      @media LG
        padding-left 20px !important
    &.small
      width 100%
      padding-left 0
      padding-right 0
      @media SM
        width 33.333%
      .item
        float left
        width 50%
        padding-right 5px
        @media SM
          float none
          width 100%
          height 50%
          padding-right 0
          padding-bottom 10px
        @media LG
          padding-bottom 15px
        & + .item
          padding-right 0
          padding-left 5px
          @media SM
            padding-left 0
            padding-bottom 0
            padding-top 10px
          @media LG
            padding-top 15px
  .item
    text-align center
    padding-right 0
    height 180px
    @media XS
      height 225px
    @media SM
      height 100%
    a
      position relative
      display block
      size(100%)
      color #fff
      background-repeat no-repeat
      background-position 50%
      background-size cover
      padding 5px
      @media XS
        padding 15px
      &:after
        anim()
        content ''
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        background #333333
        opacity .75
      span
        anim()
        font-size 15px
        position relative
        z-index 1
        border-bottom 1px solid rgba(200,200,200,0.2)
        @media XS
          font-size 20px
        @media SM
          font-size 24px
      &:hover
        &:after
          opacity .5
        span
          border-color transparent
  & + .m_lead-pluses
    background #f0f0f0
    .list .item .icon
      background url("../images/pluses-bg.png") no-repeat 0 0